<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{ style }}" />
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="/">Home</a>
            {{#if logged_in}}
            <a class="nav-link" href="/dashboard">Dashboard</a>
            <span class="nav-link" id="logout">Logout</span>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            {{/if}}
        </nav>
        <h1>{{ title }}</h1>
    </header>
    <main id="main" data-user="{{user_id}}" data-logged="{{logged_in}}">
        {{{ body }}}
    </main>
    <footer>

    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>